.DisplayImg {
  text-align: center;
}

.pokedex {
  position: relative;
  z-index: -1;
}

.InputSearch input{
  position: absolute;
  text-align: center;
  left: 360px;
  top: 74%;
  width: 100px;
  border: none;
  background-color: #56AB63;
}

.InputSearch button{
  position: absolute;
  left: 390px;
  top: 78%;
}

.Pokecard {
  position: absolute;
  left: 420px;
  top: 33%;
}
