body {
  background-image: url('../assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: center;
}

header img {
  width: 350px;
  margin: 20px 0;
}
.pokedex {
  position: relative;
  z-index: -1;
  top: 25%;
  left: 25%;
}

.InputSearch input {
  position: absolute;
  z-index: 2;

  left: 7.2%;
  top: 84%;

  width: 110px;
  border: none;
  text-align: center;
  font-size: 23px;
  background-color: #56AB63;
  outline: none;
}

.InputSearch button {
  position: absolute;
  z-index: 3;

  left: 7.4%;
  top: 72%;

  width: 135px;
  height: 30px;

  font-size: 18px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.pokeImg {
  position: absolute;
  z-index: 4;

  left: 355px;
  top: 35%;

  display: flex;
}

.pokeName {
  width: 245px;
  height: 100px;

  position: absolute;
  z-index: 5;

  left: 34.7%;
  top: 31%;

  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
}

.pokeName p {
  font-style: italic;
}
